@import url("common.css");
header {
  width: 100%;
  .banner {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #e8e8e8;
    font-size: 11px;
    > .banner_right {
      width: 20%;
      color: white;
      background-color: #d12420;
      padding: 12px;
    }
    > a {
      width: 90%;
      margin-left: 200px;
      color: #333;
      font-size: 12px;
      background-color: rgb(228, 228, 228);
      padding: 12px;
    }
    > .swiper-pagination {
      display: none;
    }
  }
  nav {
    width: 98%;
    display: flex;
    padding: 14px;
    align-items: center;
    .main_logo {
      padding: 0 0px 0 50px;
    }
    div {
      padding: 0px 20px;
      font-size: 13px;
      color: rgb(78, 78, 78);
      > a {
        text-decoration: none;
        color: rgb(78, 78, 78);
      }
      > .search2 {
        width: 200px;
        box-sizing: border-box;
        font-size: 20px;
        padding: 5px 0px 8px 0;
        background-color: white;
        background-image: url("../img/new-search.png");
        background-position: 160px 5px;
        background-size: 25px 25px;
        background-repeat: no-repeat;
      }
      > img {
        position: absolute;
        right: 3%;
        top: 8%;
      }
      > img:nth-of-type(1) {
        padding: 0 3%;
      }
      > a:hover {
        border-bottom: 1px solid rgb(201, 39, 39);
        padding: 10px 0;
      }
    }
    div:nth-of-type(7) {
      position: absolute;
      right: 10%;
      padding: 0;
      //   justify-content: end;
    }
  }
}
.nav2 {
  > div {
    display: flex;
    justify-content: space-between;
    margin: 0% 2% 0 4.5%;
    > ul {
      display: none;
      padding: 20px 0;
      > li {
        padding: 10px 0 5px 0;
      }
      > img {
        padding: 10px 20px 20px 10px;
      }
      > a {
        font-size: 1rem;
      }
    }
    > ul.active {
      display: block;
      background: white;
      color: black;
      font-size: 0.8rem;
    }
  }
}
main {
  .swiper-container {
    .swiper-wrapper {
      width: 100%;
      height: 63vh;
      .swiper-slide {
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        > .slide2 {
          width: 80%;
          object-fit: contain;
        }
        a {
          display: block;
          object-fit: cover;
        }
      }
    }
  }

  input[id="btnbtn"] {
    display: none;
  }
  input[id="btnbtn"] + label {
    display: block;
    width: 30px;
    height: 40px;
    position: fixed;
    right: 199.5px;
    top: calc(50%);
    transition: all 0.35s;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-right: 0px;
    z-index: 2;
  }
  input[id="btnbtn"]:checked + label {
    z-index: 2;
    right: 0px;
  }
  input[id="btnbtn"] + label span {
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    border-radius: 30px;
    background: #000;
    transition: all 0.35s;
  }
  input[id="btnbtn"] + label span:nth-child(1) {
    top: 38%;
    left: 40%;
    transform: translateY(100%) rotate(45deg);
  }
  input[id="btnbtn"] + label span:nth-child(2) {
    left: 40%;
    top: 60%;
    transform: translateY(-100%) rotate(-45deg);
  }
  input[id="btnbtn"]:checked + label span:nth-child(1) {
    top: 38%;
    left: 30%;
    transform: translateY(100%) rotate(-45deg);
  }
  input[id="btnbtn"]:checked + label span:nth-child(2) {
    left: 30%;
    top: 60%;
    transform: translateY(-100%) rotate(45deg);
  }
  input[id="btnbtn"]:checked + label + div {
    right: -200px;
  }

  > .sidebar {
    // display: none;
    border-left: 1px solid rgb(219, 219, 219);
    z-index: 1;
    background: white;
    position: fixed;
    right: 0px;
    transition: all 0.35s;
    top: 0;
    width: 200px;
    padding: 0 15px;
    height: 100vh;

    > .sideimg {
      text-align: center;
      overflow: hidden;
      display: flex;
      img {
        transition: all 0.35s;
        width: 100%;
        object-fit: contain;
        width: 100%;
        margin: 10px 0;
        text-align: center;
      }
    }

    .sidemenu {
      text-align: center;
      p {
        font-size: 12px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 10px;
        margin: 15px 0;
        padding: 10px 30px;
      }
      p:nth-of-type(1) {
        background: rgb(212, 18, 18);
        color: white;
      }
      p:nth-of-type(1):hover {
        background: rgb(143, 15, 15);
        color: white;
      }
      p:hover {
        background: rgb(245, 245, 245);
      }
    }
    .sidemenu2 {
      ul {
        width: 100%;
        display: flex;
        li {
          margin: 5px 0;
          text-align: center;
          img {
            // margin: 5px 10px;
            opacity: 0.4;
            padding: 10px 10px;
            border-radius: 50px;
            border: 1px solid rgb(224, 224, 224);
            width: 25%;
          }
          a {
            font-size: 12px;
            color: rgb(56, 55, 55);
          }
        }
      }
    }
    .view {
      padding-top: 20px;
      font-size: 13px;
      margin: 20px 0;
      border-top: 1px solid rgb(224, 224, 224);
      border-bottom: 1px solid rgb(224, 224, 224);
      align-items: center;
      text-align: center;
      img {
        width: 30%;
      }
    }
    .view2 {
      text-align: center;
      padding: 10px 0;
    }
  }

  > .main {
    > h3 {
      text-align: center;
      padding: 100px 0;
    }
    > .setlist {
      width: 85%;
      margin-bottom: 10%;
      margin: 0 auto;
      > ul {
        cursor: pointer;
        width: 100%;
        display: flex;
        margin: 0 auto; //
        max-width: 1240px; //
        > li {
          float: left;
          width: 350px;
          border: 1px solid rgb(226, 226, 226);
          border-radius: 20px;
          margin: 10px 10px;
          > div {
            margin: 20px 0;
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            > img {
              width: 70%;
            }
            > p {
              text-align: center;
            }
          }
          > div:nth-of-type(2) {
            height: 70px;
            > p {
              padding: 0 20px;
              font-size: 13px;
              line-height: 1.5;
              font-weight: bold;
            }
          }
          > div:nth-of-type(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            > p:nth-of-type(1) {
              padding-right: 10px;
              color: slategray;
              text-decoration: line-through;
            }
            > p:nth-of-type(2) {
              color: rgb(201, 39, 39);
              font-size: 1.5rem;
              font-weight: bold;
            }
          }
          > div:nth-of-type(4) {
            display: flex;
            justify-content: center;
            align-items: center;
            > p {
              display: none;
              background: rgb(201, 39, 39);
              color: white;
              padding: 10px 20px;
              margin: 0 5px;
              border-radius: 50px;
              font-size: 0.8rem;
            }
          }
        }
        > li:hover {
          border: 1px solid rgb(223, 16, 16);
        }
        > li:hover:hover .btn p {
          display: block;
          background: rgb(201, 39, 39);
          color: white;
          padding: 10px 20px;
          margin: 0 5px;
          border-radius: 50px;
          font-size: 0.8rem;
        }
      }
      // > ul:hover > div:nth-of-type(4) > p {
      //   display: block;
      //   background: rgb(201, 39, 39);
      //   color: white;
      //   padding: 10px 20px;
      //   margin: 0 5px;
      //   border-radius: 50px;
      //   font-size: 0.8rem;
      // }
    }
  }
  > .main2 {
    text-align: center;
    z-index: 0;
    width: 1400px;
  }
  > .main3 {
    margin-bottom: 10%;
    > h3 {
      text-align: center;
      padding-bottom: 70px;
    }
    > .setlist {
      width: 85%;
      margin-bottom: 10%;
      margin: 0 auto;
      > ul {
        cursor: pointer;
        width: 100%;
        display: flex;
        margin: 0 auto; //
        max-width: 1240px; //
        > li {
          float: left;
          width: 350px;
          border: 1px solid rgb(226, 226, 226);
          border-radius: 20px;
          margin: 10px 10px;
          > div {
            margin: 20px 0;
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            > img {
              width: 70%;
            }
            > .img {
              padding: 0 50px 0 40px;
            }
            > p {
              text-align: center;
            }
            .imglist {
              width: 15%;
            }
          }
          > div:nth-of-type(2) {
            height: 70px;
            > p {
              padding: 0 20px;
              font-size: 13px;
              line-height: 1.5;
              font-weight: bold;
            }
          }
          > div:nth-of-type(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            > p:nth-of-type(1) {
              padding-right: 10px;
              color: slategray;
              text-decoration: line-through;
            }
            > p:nth-of-type(2),
            .pp {
              color: rgb(201, 39, 39);
              font-size: 1.5rem;
              font-weight: bold;
            }
          }
          > .listdisplay {
            flex-direction: column;
            align-items: center;
          }
          > div:nth-of-type(4) {
            display: flex;
            justify-content: center;
            align-items: center;
            > p {
              display: none;
              background: rgb(201, 39, 39);
              color: white;
              padding: 10px 20px;
              margin: 0 5px;
              border-radius: 50px;
              font-size: 0.8rem;
            }
            > p.active {
              display: block;
              background: rgb(201, 39, 39);
              color: white;
              padding: 10px 20px;
              margin: 0 5px;
              border-radius: 50px;
              font-size: 0.8rem;
            }
          }
        }
        > li:hover {
          border: 1px solid rgb(223, 16, 16);
        }
        > li:hover:hover .btn p {
          display: block;
          background: rgb(201, 39, 39);
          color: white;
          padding: 10px 20px;
          margin: 0 5px;
          border-radius: 50px;
          font-size: 0.8rem;
        }
      }
    }
  }
  > .bottom_banner {
    img:nth-of-type(1) {
      position: fixed;
      bottom: 70px;
      right: 45px;
      z-index: 3;
      cursor: pointer;
    }
    img:nth-of-type(2) {
      border-radius: 10px;
      z-index: 2;
      position: fixed;
      bottom: 15px;
      right: 30px;
    }
    .bannerimg.active {
      bottom: -10%;
      transition: all 0.35s;
    }
    .bannerbtn.active {
      bottom: -10%;
      transition: all 0.35s;
    }
  }
}
footer {
  width: 100%;
  background-color: #63666a;
  padding: 40px 0 10px 0;
  .footer1 {
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: space-around;
    color: white;
    font-size: 0.8rem;
    > div {
      > ul {
        margin: 20px 0;
        > li {
          padding: 10px 0;
          font-size: 0.8rem;
        }
      }
    }
    .icon {
      font-size: 0.8rem;
      > .footertext {
        > p {
          padding: 10px 40px;
          border-radius: 50px;
          border: 1px solid white;
        }
        > p:nth-of-type(2) {
          padding: 10px 55px;
        }
      }
      > div:nth-of-type(2) {
        margin: 30px 0;
      }
    }
  }
  .footer2 {
    background-color: #63666a;
    color: white;
    font-size: 0.7rem;
    border-top: 1px solid white;
    width: 100%;
    > div {
      justify-content: center;
      display: flex;
      padding: 25px 0;
      width: 100%;
      > div {
        border: 1px solid white;
        border-radius: 50px;
        align-items: center;
        width: 13%;
        display: flex;
        justify-content: space-around;
        height: 45px;
        margin-right: 30px;
        img {
          width: 30px;
          height: 30px;
        }
        a {
          font-size: 0.8rem;
        }
      }
      > p {
        margin-right: 30px;
        line-height: 1.7;
      }
      > p:nth-of-type(2) {
        text-align: right;
      }
    }
  }
}
